<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <!-----------------    Navigation bar   ---------------->
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="" href="/shop/">Shop</a>
                </li>
                <li class="main-header__item">
                    <a class="active" href="/shop/products">Products</a>
                </li>
                <li class="main-header__item">
                    <a class="" href="/user/cart">Cart</a>
                </li>
                <li class="main-header__item">
                    <a class="" href="/user/orders">Orders</a>
                </li>
                <li class="main-header__item">
                    <a class="" href="/admin/add-product">Add
                        Product
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="" href="/admin/products">Admin
                        Products
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!---------------  main    -------------------->
    <main>
            <div class="grid">
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/products.js"></script>
</body>
</html>